### BACKEND

/back/stock/bin/
/back/stock/build/
/back/stock/.gradle/
/back/stock/src/main/resources/application.yml

### FRONTEND

/front/stock-front/node_modules/
/front/stock-front/build/
/front/stock-front/dist/
/front/stock-front/.env
/front/stock-front/.env.*.local

### COMMON
.idea/
.vscode/
.DS_Store
Thumbs.db