/.metadata/
/back/target/
/back/build/
/back/bin/
/back/.metadata/
/back/stock/.metadata/
/back/.settings/
/back/.classpath
/back/.project
/back/*.log
/back/application.yml
/back/src/main/resources/application.yml

/front/node_modules/
/front/build/
/front/dist/
/front/.vite/
/front/node_modules/.vite
/front/.env
/front/.env.*.local

.idea/
.vscode/
.DS_Store
Thumbs.db

/images/

# 특정 확장자 제외
*.png
*.jpg
*.jpeg
*.gif