<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.dk.project.user.model.dao.UserMapper">
  
  	<select id="signUp" 
  			parameterType="com.dk.project.user.model.dto.UserDTO"
  	>
  	 
  	 	INSERT INTO TB_USER(
			USER_NO,
			REALNAME,
			NICKNAME,
			USERID,
			PASSWORD,
			EMAIL,
			CREATEDATE,
			ROLE
		)
		VALUES (
			#{userNo},
			#{realName},
			#{nickName},
			#{userId},
			#{password},
			#{email},
			#{createDate},
			#{role}
		)
  	 		
  	</select>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  </mapper>
  