<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.dk.project.auth.model.dao.AuthMapper">
 
 	<select id="loadUserByUserId"
 			parameterType="string"
 	>
 		SELECT
		 		USER_NO userNo,
		 		USER_ID userId,
		 		PASSWORD password,
				REALNAME realName,
				NICKNAME nickName,
				EMAIL email,
				ROLE role
	  	 FROM
	  			TB_USER
	  	 WHERE
	  			USER_ID = #{userId}
 	
	</select>
	
	
	<insert id="emailInfo"
			parameterType="com.dk.project.auth.model.dto.EmailDTO">
	
		INSERT 
		INTO
		TB_EMAIL (
			EMAIL,
			CODE
				 )
		VALUES   (
			#{email},
			#{code}			
		         )
	
	</insert>
	
	
	<select id="verifyCode"
			parameterType="com.dk.project.auth.model.dto.EmailDTO"
			resultType="com.dk.project.auth.model.dto.EmailDTO">
	
		SELECT
				CODE code,
				EMAIL email
		  FROM
				TB_EMAIL
	 	 WHERE
	 	 		CODE = #{code}
	 	   AND
	 	 		EMAIL = #{email}
	
	</select>
	
	<select id="findIdCheck"
			parameterType="com.dk.project.auth.model.dto.FindDTO"
			resultType="com.dk.project.auth.model.dto.FindDTO">
				
		SELECT
				USER_ID userId
		  FROM
		  		TB_USER
		 WHERE
		 		REALNAME = #{realName}
		   AND
		   		EMAIL = #{email}
		   		
	</select>
	<select id="findPwCheck"
			parameterType="com.dk.project.auth.model.dto.FindDTO"
			resultType="com.dk.project.auth.model.dto.FindDTO">
			
		SELECT
				USER_ID userId,
				EMAIL email
		  FROM
		  		TB_USER
		 WHERE
		 		EMAIL = #{email}
		   AND
		   		USER_ID = #{userId}
		   		
	</select>
	
	<update id="tempPasswordInsert"	
			parameterType="map">
			
		UPDATE 
				TB_USER
		   SET
				PASSWORD = #{encodedTempPassword}
		WHERE
				USER_ID = #{userId}
				
	</update>
	
	<update id="changePassword"
			parameterType="map">
	
	
		UPDATE
				TB_USER
		   SET
				PASSWORD = #{newPassword}
		WHERE
				USER_NO = #{userNo}
	
	
	</update>
	
 
 	<delete id="deleteUser"
 			parameterType="long">
 			
 		DELETE
 		FROM
 				TB_USER
 		WHERE
 				
 				USER_NO = #{userNo}	
 
 	</delete>
 	
 	
 	
 
 </mapper>