<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.dk.project.user.model.dao.UserMapper">
  
  	<insert id="signUp" 
  			parameterType="com.dk.project.user.model.dto.UserDTO"
  	>
  	 
  	 	INSERT INTO TB_USER(
			REALNAME,
			NICKNAME,
			USER_ID,
			PASSWORD,
			EMAIL,
			CREATEDATE,
			ROLE
		)
		VALUES (
			#{realName},
			#{nickName},
			#{userId},
			#{password},
			#{email},
			SYSDATE,
			'ROLE_USER'
		)
  	 			
  	</insert>
  
  
  	<select id="selectInfo"
  			parameterType="com.dk.project.user.model.dto.UserResponseDTO"
  			resultType="com.dk.project.user.model.dto.UserResponseDTO">
  				
  				
  		SELECT
  				REALNAME realName,
  				NICKNAME nickName,
  				EMAIL	 email
  		FROM
  				TB_USER
  		WHERE
  				USER_NO = #{userNo}
  	
  	</select>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  </mapper>
  